<div layout="column" layout-align="center center" layout-fill ng-cloak style="position: absolute;">
  <div class="loginBox md-whiteframe-11dp" layout="column">
    <md-toolbar>
      <h2 class="md-toolbar-tools">
        <span>Login</span>
      </h2>
          <md-content class="md-padding" layout="column">
          <span style="font-size:11px;color:red !important;">{{loginForm.errorMessage}}</span>
            <md-input-container class="md-block input-form-height">
              <label>Email Address</label>
              <input required ng-model="loginForm.loginEmail" name="loginEmail" type="email" ng-required="true" ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/">
              <div ng-messages="loginEmail.$error" multiple md-auto-hide="false">
                <div ng-message="required">
                  Specify an email please.
                </div>
                <div ng-message="pattern">
                  The email is not valid.
                </div>
              </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block input-form-height">
              <label>Password</label>
              <input required ng-model="loginForm.loginPassword" type="password" ng-required="true">
            </md-input-container>
            <div layout="row" layout-align="center center">
              <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
              <md-button class="md-raised md-primary" ng-disabled="!loginForm.loginEmail || !loginForm.loginPassword" ng-model="loginForm.loginButton" ng-click="loginForm.loginUser()">Log In</md-button>
              <md-button class="md-raised md-no-ink" ng-model="loginForm.registerButton" ng-click="loginForm.registerUser()">Register</md-button>
            </section>
            </div>
          </md-content>
    </md-toolbar>
  </div>
</div>